# KyleBernelle.github.io

<a href="https://kylebernelle.github.io/initial-setup">Initial Setup</a>

<a href="https://kylebernelle.github.io/create-character">Create a Character</a>

<a href="https://kylebernelle.github.io/setting-up-blender">Setting up Blender</a>

<a href="https://kylebernelle.github.io/create-character/setting-up-combat">Setting up Combat</a>

<a href="https://kylebernelle.github.io/create-character/developing-playtesting">Developing and Playtesting Characters</a>

<a href="https://kylebernelle.github.io/create-character/steam-upload-mods">Upload to Steam and Mods</a>

<a href="https://kylebernelle.github.io/known-issues">Known Issues</a>

<a href="https://kylebernelle.github.io/wip">Work-In-Progress</a>

