# KyleBernelle.github.io

<ul>
<li><a href="https://kylebernelle.github.io/initial-setup">Initial Setup</a></li>
<li><a href="https://kylebernelle.github.io/create-character">Create a Character</a></li>
<li><a href="https://kylebernelle.github.io/setting-up-blender">Setting up Blender</a></li>
<li><a href="https://kylebernelle.github.io/create-character/setting-up-combat">Setting up Combat</a></li>
<li><a href="https://kylebernelle.github.io/create-character/developing-playtesting">Developing and Playtesting Characters</a></li>
<li><a href="https://kylebernelle.github.io/create-character/steam-upload-mods">Upload to Steam and Mods</a></li>
<li><a href="https://kylebernelle.github.io/known-issues">Known Issues</a></li>
<li><a href="https://kylebernelle.github.io/wip">Work-In-Progress</a></li>
</ul>

